html {
  scroll-behavior: smooth;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --theme-green: #28a745;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: -webkit-flex;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: #485460;
}

.p-relative {
  position: relative;
}

.tlinks {
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.btn,
button,
.actionbg {
  -moz-border-radius: 2px;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-border-radius: 2px;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.wrapper-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.w3l-error-61-404 .error-61-mian {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  align-items: center;
  background: url(../images/banner1.jpg) no-repeat bottom;
  background-size: cover;
  display: grid;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.w3l-error-61-404 .error-61-mian:before {
  background: rgba(66, 21, 2, 0.45);
  content: "";
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.w3l-error-61-404 .errors-16-top {
  max-width: 600px;
}

.w3l-error-61-404 .error-61-mian h3 {
  color: #fff;
  font-size: 200px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.w3l-error-61-404 .error-61-mian p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.error-page-form-message {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.error-page-form-message br {
  display: none;
}

.btn {
  align-items: center;
  background: #fff;
  border: none;
  border-radius: 25px;
  color: var(--theme-green);
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  margin-left: 10px;
  padding: 10px 18px;
  text-decoration: none;
}

.btn:hover {
  background: #394247;
  color: #fff;
}

.error-page-form {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 25px;
  display: flex;
  margin: 30px 0;
  padding: 8px;
}

.w3l-error-61-404 .error-page-form input {
  background: rgba(114, 51, 23, 0.75);
  border: none;
  border-radius: 25px;
  color: #fff;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  margin-right: 1%;
  outline: none;
  padding: 0.4em 1em;
  width: 100%;
}

::-webkit-input-placeholder {
  background: transparent;
  color: #fff;
}

::-moz-placeholder {
  background: transparent;
  color: #fff;
}

:-ms-input-placeholder {
  background: transparent;
  color: #fff;
}

:-moz-placeholder {
  background: transparent;
  color: #fff;
}

.w3l-error-61-404 .error-page-form button {
  background: #fff;
  border: none;
  border-radius: 25px;
  color: var(--theme-green);
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
}

.w3l-error-61-404 .error-page-form button:hover {
  background: #394247;
  color: #fff;
}

.w3l-error-61-404 .social-coming-icons a {
  -moz-transition: color 0.5s ease, border-color 0.5s ease;
  -o-transition: color 0.5s ease, border-color 0.5s ease;
  -webkit-transition: color 0.5s ease, border-color 0.5s ease;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 34px;
  margin-right: 12px;
  text-align: center;
  transition: color 0.5s ease, border-color 0.5s ease;
  width: 34px;
}

.w3l-error-61-404 .social-coming-icons a span {
  font-size: 12px;
  line-height: 30px;
}

.w3l-error-61-404 .social-coming-icons a:hover {
  border: 2px solid #394247;
  color: #394247;
}

.w3l-error-61-404 .copyright-footer {
  margin: 100px auto 0;
}

.w3l-error-61-404 .copy-right p {
  color: #f9f9f9;
  font-size: 14px;
  line-height: 29px;
}

.w3l-error-61-404 .copy-right a {
  color: #f9f9f9;
}

.social-coming-icons .footer-home {
}

.social-coming-icons .footer-home span {
}

.social-coming-icons .footer-home:hover {
}

@media (max-width: 1199px) {
  .w3l-error-61-404 .error-61-mian h3 {
    font-size: 170px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .w3l-error-61-404 .error-61-mian p {
    font-size: 19px;
  }
  .error-page-form-message {
    font-size: 19px;
  }
  .error-page-form {
    margin: 25px 0;
  }
  .w3l-error-61-404 .copyright-footer {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .w3l-error-61-404 .error-61-mian h3 {
    font-size: 140px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .w3l-error-61-404 .error-61-mian p {
    font-size: 18px;
    line-height: 1.6;
  }
  .error-page-form-message {
    font-size: 18px;
  }
  .error-page-form {
    margin: 20px 0;
    padding: 7px;
  }
  .btn {
    font-size: 15px;
    padding: 9px 16px;
  }
  .w3l-error-61-404 .copyright-footer {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .w3l-error-61-404 .error-61-mian h3 {
    font-size: 110px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .w3l-error-61-404 .error-61-mian p {
    font-size: 17px;
  }
  .error-page-form-message {
    font-size: 17px;
  }
  .w3l-error-61-404 .copyright-footer {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .w3l-error-61-404 .error-61-mian h3 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 15px;
  }
  .w3l-error-61-404 .error-61-mian p {
    font-size: 16px;
    line-height: 1.6;
  }
  .error-page-form-message {
    font-size: 16px;
    margin-bottom: 15px; 
  }
  .error-page-form-message br {
    display: initial; 
  }
  .error-page-form {
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 5px;
  }
  .btn {
    font-size: 15px;
    margin-left: 0;
    max-width: 90%;
    min-width: 180px;
    padding: 10px 15px;
    width: auto;
  }
  .w3l-error-61-404 .error-61-mian {
    background-position: center center;
  }
  .w3l-error-61-404 .copyright-footer {
    margin-top: 50px;
  }
}